body {
  padding: 50px;
  font-size: 14px;
  line-height: 1em;
  font-family: monospace;
}

a {
  color: #00B7FF;
}

button {
  background: none;
  border: 0;
  text-decoration: underline;
  padding: 0;
}

#delete_user_confirm {
  margin-bottom: 10px;
}

#delete_user_confirm p {
  margin: 0;
}

.hide {
  display: none;
}

button {
  cursor: pointer;
}

.puke_form {
  opacity: 0;
}

.listEl:hover .puke_form {
  opacity: 1;
}


body {
  background: #100505;
}

p, button, h1, a {
  color: #ddeedd;
}