body {
  padding: 50px;
  font-size: 14px;
  line-height: 1em;
  font-family: monospace;
}

a {
  color: #00B7FF;
}

button {
  cursor: pointer;
}

.puke_form {
  opacity: 0;
}

.listEl:hover .puke_form {
  opacity: 1;
}
